<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="easy-money-forgot-form-styles.html">
<link rel="import" href="../cells-molecule-input/cells-molecule-input.html">
<link rel="import" href="../cells-st-button/cells-st-button.html">
<link rel="import" href="../cells-generic-dp/cells-generic-dp.html">

<!--
`<easy-money-forgot-form>` description.

Example:

```html
<easy-money-forgot-form></easy-money-forgot-form>
```

## Icons

Since this component uses icons, it will need an [iconset](https://bbva.cellsjs.com/guides/best-practices/cells-icons.html) in your project as an [application level dependency](https://bbva.cellsjs.com/guides/advanced-guides/application-level-dependencies.html). In fact, this component uses an iconset in its demo.

## Styling

The following custom properties and mixins are available for styling:

| Custom property | Description     | Default        |
|:----------------|:----------------|:---------------|
| --easy-money-forgot-form  | Mixin applied to :host     | {}  |
| --cells-fontDefault  | Font family of :host    | sans-serif  |

@customElement
@polymer
@demo demo/index.html
-->
<dom-module id="easy-money-forgot-form">
  <template>
    <style include="easy-money-forgot-form-styles easy-money-forgot-form-shared-styles"></style>
    <slot></slot>

    <p>Va a proceder a recuperar su contraseña, introduzca el email y pulse Recuperar</p>

    <p>
      <cells-molecule-input name="email" label="Email" type="email"
        auto-validate error-icon="coronita:alert" icon="coronita:close"
        icon-label="Borrar campo"required error-message="Campo obligatorio"
        value="{{email}}">
      </cells-molecule-input>
    </p>
    <p>
      <cells-st-button on-click="_handleCancelarClick" class="size-xs secondary">
        <button>Cancelar</button>
      </cells-st-button>
      <cells-st-button on-click="_handleAceptarClick" class="size-xs primary">
        <button>Recuperar</button>
      </cells-st-button>
    </p>
    <cells-generic-dp
        id="forgotdp"
        path="easymoney/v1/forgot"
        handle-as="json"
        method="POST"
        on-request-success="_handleRequestForgotSuccess"
        on-request-error="_handleRequestForgotError"
        >
    </cells-generic-dp>

  </template>
  <script src="easy-money-forgot-form.js"></script>
</dom-module>
