<dom-module id="easy-money-forgot-form-styles"><template><style>
:host {
  display: block;
  box-sizing: border-box;
  font-family: var(--cells-fontDefault, sans-serif);
  --cells-st-button-primary: {
    background-color: #000;
    color: #fff;
  };
  --cells-st-button-secondary: {
    background-color: gray; 
    color: #fff;
  };
  --cells-st-button-primary-hover:{
    background-color: rgb(50, 50, 50) ;
  };
  --cells-st-button-secondary-hover:{
    background-color: LightGray ;
  }; 
  @apply --easy-money-forgot-form; }

:host([hidden]), [hidden] {
  display: none !important; }

*, *:before, *:after {
  box-sizing: inherit; }

</style></template></dom-module>